<div class="controls on-top">
  <button class="btn js-mode-toggle" aria-label="{{ strings.labels.darkMode }}">
    <span class="btn__icon icon" aria-hidden="true"></span>
  </button>

  <button class="btn js-print" aria-label="{{ strings.labels.print }}">
    {% icon "print" %}
  </button>
</div>
