{% if entries %}
<ol class="entrylist" reversed>
  {% asyncEach entry in entries | reverse %}
    <li class="entrylist__item h-event {% if microformat %}{{ microformat }}{% endif %}">
      {% include "entry.njk" %}
    </li>
  {% endeach %}
</ol>
{% endif %}
