{%- set absolutePageUrl -%}{{ page.url | url | absoluteUrl(site.url) }}{%- endset -%}
{%- set pageTitle -%}{{ author.name }}{% if author.occupation %} - {{ author.occupation }}{% endif %}{% if author.location %} in {{ author.location }}{% endif %}{%- endset -%}
{%- set pageDescription -%}Online Resume of {{ author.name }}{%- endset -%}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ pageTitle }}</title>

{# General #}
<meta name="description" content="{{ pageDescription }}">
<link rel="canonical" href="{{ absolutePageUrl }}">

{# Open Graph #}
<meta property="og:site_name" content="{{ pageTitle }}">
<meta property="og:title" content="{{ pageTitle }}">
<meta property="og:description" content="{{ pageDescription }}">
<meta property="og:url" content="{{ absolutePageUrl }}">
<meta property="og:locale" content="{{ site.locale }}">
<meta name="twitter:card" content="summary">
{%- if author.avatar -%}
  {%- set avatarUrl -%}/assets/images/{{ author.avatar }}{% endset %}
  <meta property="og:image" content="{{ avatarUrl | url | absoluteUrl(site.url) }}">
{%- endif -%}

{# JSON LD #}
<script type="application/ld+json">
{
  "name":"{{ author.name }}",
  "description":"{{ author.occupation }}{% if author.location %} in {{ author.location }}{% endif %}",
  "author": {
    "@type":"Person",
    "name":"{{ author.name }}"
  },
  "@type":"WebSite",
  "url":"{{ meta.url }}",
  "image":"{{ meta.url }}/assets/images/{{ author.avatar }}",
  "headline":"{{ author.name }}",
  "sameAs":[
    {%- for social in author.social -%}
      "{{ social.url }}"{%- if not loop.last -%},{%- endif -%}
    {%- endfor -%}
  ],
  "@context":"http://schema.org"
}
</script>
