.btn {
  --btn-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--btn-size);
  height: var(--btn-size);
  color: var(--color-text-btn);
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background-color: var(--color-bg-btn);
  box-shadow: var(--color-shadow-primary);
  border-radius: 50%;
  border: 0;
  -webkit-appearance: none;

  @media (min-width: 30em) {
    --btn-size: 3em;
    font-size: 0.85rem;
  }

  .icon {
    --icon-size: 1.6em;
  }
}
