.btn {
  --btn-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--btn-size);
  height: var(--btn-size);
  color: var(--color-text-btn);
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background-color: var(--color-bg-btn);
  box-shadow: var(--color-shadow-secondary);
  border-radius: 50%;
  border: 0;
  -webkit-appearance: none;

  @media (min-width: 30em) {
    --btn-size: 3.5rem;
    font-size: 0.85rem;
  }

  .icon {
    --icon-size: 1.6rem;
  }
}

.btn__icon {
  background: var(--button-icon);
  background-repeat: no-repeat;
  margin: 0 0 0 0.15em;
  transform: translateY(1px);
  filter: var(--button-icon-filter);
}
