@font-face {
  font-family: 'Martel';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('../fonts/martel-800.woff2') format('woff2'),
       url('../fonts/martel-800.woff');
}
