@font-face {
  font-family: 'Atkinson-Hyperlegible';
  src: url('/assets/fonts/Atkinson-Hyperlegible-Bold.woff2') format('woff2'),
       url('/assets/fonts/Atkinson-Hyperlegible-Bold.woff') format('woff');
  font-style: normal;
  font-weight: 700;
  font-display: fallback;
}
